# Renombra o copia este archivo a '.env.properties' y coloca tus credenciales reales.
# Este archivo no se subirá a Git porque ya fue excluido en el .gitignore

MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD=tu-contraseña-de-aplicacion
TELEGRAM_BOT_TOKEN=aqui-va-tu-token
TELEGRAM_CHAT_ID=aqui-va-tu-chat-id
