# Renombra o copia este archivo a '.env.properties' y coloca tus credenciales reales.
# Este archivo no se subirá a Git porque ya fue excluido en el .gitignore

DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password
